body
{
  padding-top: 10px;
  padding-bottom: 0px;
  background: url("../BG.jpg");
  background-size: 1920px 1080px; 

}


.mainlogo
{
  padding-top: 0px;
  height: auto;
  width: 70%;

}


.box
{
  text-align: center;
  padding: 0px;
  font-family: 'Quantico', sans-serif;
  font-size: 80px;
  color: white;
  text-shadow: 2px 5px 10px #000000;
}

.box2
{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 2px 5px 10px #000000;
}

.abc
{
  
  text-align: right;
  font-size: 40px;
  color: #fe0072;
  font-family: Monotype Corsiva;
  text-shadow: 1px 1px 10px #000000;
}

.foot
{
  background-color: black;
  opacity: 0.9;

  margin-top: 20px;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;


  color: white;
}

.icons
{
  height: 50px;
  width: auto;  
}

.icons:hover
{
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.h2
{

}